.container {
  display: flex;
  margin-bottom: 10px;
  padding: 16px;
  border-bottom: 1px ridge rgba(59, 59, 59, 0.7);
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.tech {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin: 20px 0;
  max-width: 1200px ;
}

.tech h3 {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.tech span {
  font-size: 18px;
  font-weight: 600;
  color: rgba(59, 59, 59, 0.7);
}

.arrow {
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}

.arrowOpen {
  transform: rotate(270deg);
}

.additionalContentClosed {
  height: 0;
  overflow: hidden;
  width: 1200px;
}

.additionalContent {
  height: auto;
}

.additionalContent p {
  color: var(--black-color);
  font-size: 16px;
}