
.contact {
  text-align: center;
  min-height: 400px; 
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contactDiv {
  max-width: 800px;
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactDiv h2 {
  color: var(--black-color);
  font-size: 2em;
  font-weight: 700;
}

.contactDiv p {
  color: var(--black-color);
  text-align: center;
  font-size: 1.25em; 
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 1em; 
}

.socialContainer {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em; 
  border-radius: 16px;
  border: 1px solid var(--black-color);
  justify-content: center;
  margin-top: 1em; 
}

.social {
  display: flex;
  align-items: center;
  margin: 0 0.5em; 
}

.iconsSocial {
  width: 2em; 
  height: 2em; 
  margin-right: 0.5em; 
}

.textSocial {
  margin: 0 0.5em; 
  text-decoration: underline;
}

.button {
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: 0.1s ease-in;
  width: 30%;
}

.button:hover {
  cursor: pointer;
  background-color: var(--secundary-color);
}

@media (max-width: 600px) {

  .contactDiv h2 {
    font-size: 1.5em;
  }

  .contactDiv p {
    font-size: 1em;
  }

  .socialContainer {
    padding: 0.5em 1em;
    flex-direction: column;

  }

  .textSocial {
    padding: 0.5em;
  }

  .button {
    font-size: 1em;
  }
}
