.navbar {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 80px;
  justify-content: space-between;
  color: var(--black-color);
}

.title {
  font-size: 24px;
  display: flex;
  font-weight: 800;
  height: 100%;
  align-items: center;
}

.buttonContainer {
  width: 50%;
  min-width: 250px;
  max-width: 350px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.button {
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: flex;
  border-radius: 16px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: 0.1s ease-in;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: var(--secundary-color);
}

.burguerButton {
  display: none;
}

.burguerContentClosed {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  transition: 0s;
}

.burguerContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  height: auto;
  background-color: #ffffff;
  gap: 10px;
  transition: 0.5s ease-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buttonBurguer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  width: 120px;
  transition: 0.5s;
}

.buttonBurguer::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.5s ease-in-out;
}

.buttonBurguer:hover {
  transform: scale(1.1);
}

.buttonBurguer:hover::after {
  width: 100%;
}

@media (max-width: 1000px) {
  .buttonContainer {
    display: none;
  }

  .burguerButton {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    gap: 0.5rem;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
  }

  .burguerIcon {
    border-top: 2px solid black;
    width: 20px;
  }

  .burguerIcon::after,
  .burguerIcon::before {
    display: block;
    content: "";
    background-color: black;
    width: 20px;
    height: 2px;
    margin-top: 5px;
  }
}
