.footer {
    background-color: var(--black-color);
    width: 100%;
    display: flex;
    min-height: 80px; 
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    font-weight: 600;
    flex-direction: column;
  }
  
  .title {
    margin: 16px 0;
  }
  
  .navigation {
    display: flex;
    margin-bottom: 16px;
    
  }
  
  .links {
    color: white;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .links:hover {
    color: var(--secundary-color);
  }
  