.about {
    padding: 0 80px;
    height: 100vh;
}

.about h2{
    color: var(--black-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
}

.content{
    display: flex;

}

.image{
    width: 30vw;
}

.text{
    width: 70vw;
    margin-left: 24px
}

.text h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--black-color);
}

.text span{
    color: var(--primary-color);
}

.text p{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 400;
}